body{
background:#0b0f19;
color:white;
font-family:'Poppins',sans-serif;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,200px);
gap:20px;
}

.movie-card{
background:#121826;
border-radius:12px;
overflow:hidden;
transition:0.3s;
}

.movie-card:hover{
transform:scale(1.05);
}

img{
width:100%;
border-radius:10px;
}

.search{
padding:12px;
border-radius:8px;
border:none;
width:300px;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}